[submodule "CAMEOX"]
	path = CAMEOX
	url = git@github.com:BiosecSFA/CAMEOX.git
[submodule "pycameox"]
	path = pycameox
	url = git@github.com:BiosecSFA/pycameox.git
[submodule "ortho"]
	path = ortho
	url = git@github.com:BiosecSFA/ortho.git
